---
import "../styles/global.css"; // Importe le CSS global
const { type, titre, tag, searchDesc } = Astro.props;
const typeColors = {
  definition: "#ccf5cc",
  theoreme: "#ede6af",
  propriete: "#ede6af",
  proposition: "#ede6af",
  corollaire: "#ede6af",
  lemme: "#ede6af",
  consequence: "#ede6af",
  methode: "#e0e0e0",
  defprop: "#ccf5cc",
};
const typeBorderColors = {
  definition: "#b0d5b0",
  theoreme: "#b64b4b",
  propriete: "#db9224",
  proposition: "#db9224",
  corollaire: "#db9224",
  lemme: "#db9224",
  consequence: "#db9224",
  methode: "#a0a0a0",
  defprop: "#b0d5b0",
};
const borderWidths = {
  definition: 6,
  theoreme: 8,
  propriete: 6,
  proposition: 6,
  corollaire: 4,
  lemme: 4,
  consequence: 4,
  methode: 4,
  defprop: 6,
};

const textValues = {
  definition: "Définition",
  theoreme: "Théorème",
  propriete: "Propriété",
  proposition: "Proposition",
  corollaire: "Corollaire",
  lemme: "Lemme",
  consequence: "Conséquence",
  methode: "Méthode",
  defprop: "Définition - Propriété",
};

var filiere = "";

if (Astro.url.pathname.length > 2) {
  filiere = Astro.url.pathname.slice(1, 20).split("/")[0];
}

const tagweight = (tag == "admis") * 2 || 0;
const itemColor = typeColors[type]; // Couleur par défaut si type inconnu
const borderColor = typeBorderColors[type];
const itemWidth = borderWidths[type];
const itemText = textValues[type];
---

<!-- Amélioration : Ajouter espace auto-fill entre titre et tag -->
<div data-pagefind-body style="display: none;" aria-hidden="true">
  <div data-pagefind-meta="titre" content={titre}>{titre}</div>
  <div data-pagefind-meta="type" content={type}>{type}</div>
  <div data-pagefind-meta="filiere" content={filiere}>{filiere}</div>
  <div data-pagefind-meta="searchDesc" content={searchDesc}>{searchDesc}</div>
</div>

<div
  class="item-container mt-2"
  style={`border: ${itemWidth}px solid ${borderColor};border-radius: 5px;border-top: none;border-right: none;border-bottom: none`}
>
  <div
    class="p-1
    min-h-10 text-lg font-semibold bg-red"
    style={`background-color: ${itemColor};`}
  >
    <div class="float-left">
      <span class="item-number text-base w-8 h-8 text-center rounded-full mr-2"
      ></span>
      <strong>{itemText} : {titre}</strong>
    </div>
    <div
      class="float-right"
      style=`border: solid ${tagweight}px #ff4545; margin-right: 1rem;border-radius: 10%;`
    >
      {tag}
    </div>
  </div>
  <div class="item-body p-4 overflow-x-auto bg-secondary">
    <div style="margin: 0 5px;">
      <slot />
    </div>
  </div>
</div>

<style>
  .item-container .item-number::before {
    content: counter(item-counter); /* Affiche la valeur actuelle du compteur */
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
    color: black;
  }
</style>
